# =========================
# PORTFOLIO PRIVADO
# =========================
data/portfolio/*.json


# =========================
# HISTORIAL PRIVADO
# =========================
data/history/*.json


# =========================
# CHARTS GENERADOS
# =========================
analytics/chart/output/*.png


# =========================
# CACHE PYTHON
# =========================
__pycache__/
*.pyc


# =========================
# VSCODE
# =========================
.vscode/


# =========================
# NOTEBOOKS
# =========================
.ipynb_checkpoints/


# =========================
# LOGS
# =========================
*.log